*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
}

.loginContainer{
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.mainContainer{
  border:2px solid rgb(145, 143, 143);
  padding: 5rem 4rem;

}
.loginemail,.loginpassword{
  width: 100%;
  padding:.5rem  4rem .5rem.5rem;
  margin-bottom: .5rem;
}
button{
  cursor: pointer;
}
.loginbutton{
  width: 100%;
  padding:.5rem 1rem;
  color:white;
  background-color: rgb(96, 143, 243);
  border: none;
  border-radius: 5px;

}

.loginlogout{
  padding:.5rem 1rem;
  color:white;
  background-color: rgb(96, 143, 243);
  border: none;
  border-radius: 5px;

}

.clone{
  
  top:0;
  background: -webkit-linear-gradient(rgb(215, 106, 230), rgb(170, 38, 38));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom:10rem;
}
.mainContainer>span{
  transform: translateX(-10%);
  display: inline-block;
  width: 125%;
  height: .1em;
  border-radius: 5px;
  background-color: gray;

}

.loginsignup{
  display: flex;
  align-items: center;
}

.loginsignup>a{
  text-decoration: none;
  margin-left: .25rem;
  color: rgb(0, 4, 255);
}

